*{
    font-family: Satoshi, sans-serif;
    scroll-behavior: smooth;

}
html {
    scroll-behavior: smooth;
  }
.logo{
    width: 10rem;
    height: auto;
    object-fit: cover;
    margin-right: 20rem;
    margin-left: 4rem;
}

.border-dark{
    padding-bottom: 10px;
}

.nav-link{
    font-weight: 600;
    color: #000;
}

.navitem{
    font-size: 1.1rem;
}

.border-bottom{
    background-color: #fff;
}

.top{
    position:static;
    width: 100%;
    height: 79vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}
.space-100{
    height: 90px;
}

.image{
    width: 40rem;
    height: 30rem;
    border-radius: 10px ;
    object-fit: cover;
}


.part1{
    height: 40rem;
    width: 40rem;
    padding-top: 11rem;
    margin-right:3rem ;
    
}

.part1 h1{
    font-size: 4rem;
    /* font-family: Arial  ; */
    font-weight: 600;
}
.btn1{
    margin-left: 11rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.tagfoot{
    width: 100%;
    height: 24vh;
    background-color: rgb(130, 81, 176);
}

.h3{
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 1.7rem;
}

.ranking{
    width: auto;
    height: 20rem;
    margin-left: 30rem;
    background-color: #fff;
    border-radius: 20px;
}

.rank{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.rankingitem{
    margin-left: 28.5rem;
}
.company1{
    flex-wrap: wrap;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.company{
    width: 7.5rem;
    height: auto;
}
.h1{
    text-align: center;
    padding: 4rem 0;
    font-weight: 700;
}

.alum{
    display: flex;
    justify-content: space-evenly;
}

.card-img-top{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 6rem;
}
.footpara{
    margin-top: 5rem;
    width: 100%;
    height: 30vh;
    background-color:  rgb(130, 81, 176);
    color: #fff;
    display: flex
}

.footpara h2{
    margin-top: 4rem;
    padding-left: 5rem;
}

.footpara p{
    padding-left: 5rem;
}

.footpara img{
    width: 5rem;
    height: 4rem;
    object-fit: cover;
    margin-top: 5rem;
    margin-left: 15rem;
}

.btnfoot{
    margin-top: 6rem;
    margin-left: 5rem;
}

.btnfoot1{
    font-size: 1.3rem;
    width: 12rem;
    border-radius: 20px;
}

.socialicon{
    width: 2rem;
    height: 2rem;
    margin-left: 1.3rem;
}

.soccontainer{
    display: flex;
    justify-content: space-evenly;
}
.socialtag{
    text-align: center;
    font-weight: bold;
}
.socialbox{
    background-color: rgb(249, 245, 245);
    height: 60vh;
    padding-top: 5rem;
    margin-top: 4rem;
}
.socialbox h2{
    color: #000;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5rem;
}
.footeritems{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}
.footeritem p{
    padding-left: 1rem;
}

.address1{
    height: 20vh;
    padding: 3rem 3rem 9rem 20rem;
    background-color:  rgb(130, 81, 176);
    color: #fff;
    display: flex;
}
.footpart1{
    margin-right: 6rem;
}
.bot img{
    position: fixed;
    bottom: 0;
    right: 3rem;
    width: 5rem;
}
.gallaryItem{
    object-fit: cover;
    width: 19rem;
    height: auto;
    border-radius: 20px;
}
.d-flex{
    flex-wrap: wrap;
    padding-left: 9rem;
}
.footlogo1{
    padding-top: 1.5rem;
    width: 5rem;
    height: auto;
    border-radius: 25px;
    
}

